<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1><%= title %></h1>
  <a href="/flights/new" method="GET">New Flight</a> <a href="/flights" method="GET">All Flights</a>
</main>

<%- include("./partials/footer") %>